body{
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    text-align: center;
}
h1{
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: x-large;
}
table,tr,td{
    border: 1px ridge silver;
}
table{
    text-align: left;
    width: 95%;
    margin: 0 auto;
}
td{
    width: 30%;
}
.Male{
    background-color: #43D0F7;
    color: white;
}
.Female{
    background-color: #FAD2F0;
    color: black;
}